<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Gestión de Usuarios</title>

</head>
<body>
<div layout:fragment="content">
    <div class="container mt-3">
        <h1>Gestión de Usuarios</h1>

        <div class="text-end">
            <a href="/admin/usuarios/nuevo" class="btn btn-primary"> <i class="fa fa-add"></i> Agregar Usuario</a>
        </div>

        <form action="" class="my-3">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="input-group">
                        <input type="search" class="class-control" name="email" id="email" placeholder="Buscar por email">
                        <button class="btn btn-primary"><i class="fas fa-search"></i>Buscar..</button>
                    </div>
                </div>
            </div>
        </form>

        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th><a class="sorted" sd:pagination-sort="nombres" >NOMBRES</a></th>
                <th><a class="sorted" sd:pagination-sort="apellidos" >APELLIDOS</a></th>
                <th><a class="sorted" sd:pagination-sort="email" >EMAIL</a></th>
                <th><a class="sorted" sd:pagination-sort="rol" >ROL</a></th>
                <th>OPCIONES</th>
            </tr>
            </thead>
            <tbdoy>
                <tr th:each="usuario : ${usuarios}" th:object="${usuario}">
                    <td th:text="*{nombres}"></td>
                    <td th:text="*{apellidos}"></td>
                    <td th:text="*{email}"></td>
                    <td th:text="*{rol}"></td>

                    <td class="text-end">
                        <div class="btn-group btn-group-sm">
                            <a th:href="@{/admin/usuarios/editar/{id} (id=*{id})}"  class="btn btn-primary" title="Editar Usuario">
                                <i class="fa fa-edit"></i>
                            </a>

                            <a onclick="eliminar(this)" href="#" class="btn btn-danger" title="Eliminar Usuario">
                                <i class="fa fa-trash"></i>
                            </a>

                            <form th:action="@{/admin/usuarios/eliminar/{id}(id=*{id})}" method="post" class="d-none">
                            </form>
                        </div>
                    </td>
                </tr>
            </tbdoy>
        </table>

        <div class="d-flex jusfify-content-center">
            <nav>
                <div sd:pagination-summary="">info</div>
                <ul class="pagination mt-3" sd:pagination="full"></ul>
            </nav>
        </div>

    </div>
</div>


<div layout:fragment="scripts">
    <script>
            function eliminar(elemento)
            {
                var ok = confirm("¿Está seguro de eliminar el usuario?");
                if(ok){
                    elemento.nextElementSibling.submit();
                }
            }
        </script>
</div>
</body>
</html>