<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}"
>
<head>
    <meta charset="UTF-8">
    <title>[[${curso.nombre}]]</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container my-5" th:object="${curso}">
            <h3 class="text-primary mb-3">[[*{nombre}]]</h3>
            <div class="row">
                <div class="col-md-6">
                    <img th:src="@{/media/{rutaImagen}(rutaImagen=*{rutaImagen})}"
                         th:alt="*{nombre}" class="card-img-top">
                </div>
                <div class="col-md-6">
                    <p>
                        [[*{descripcion}]]
                    </p>
                    <p>
                        S/ [[*{#numbers.formatDecimal(precio, 1, 'COMMA', 2, 'POINT')}]]
                    </p>

                    <a th:href="@{/usuario/inscribir/{id}(id=*{id})}" class="btn btn-success btn-lg">
                        <i class="fa-solid fa-cart-shopping"></i> Comprar
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>